---
import PageLayout from "@/layouts/Base";
import ProjectHero from "@/components/ProjectHero";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import Icon from "astro-icon";

const allPosts = await getAllPosts();
const allPostsBySlug = allPosts.reduce((acc, post) => ({ ...acc, [post.slug]: post }), {});
const selectedProjects = ["stravamap", "csp", "pybibget"].map((slug) => allPostsBySlug[slug]);
const selectedResearch = ["14071552"].map((slug) => allPostsBySlug[slug]);
console.log(selectedResearch);
const selectedPublications = ["1407.1552", "1705.10661", "1912.04100", "2012.13215", "2302.00401"];

const cv = [
	{
		date: "2010 – 2011",
		title: "BSc Mathematics",
		location: "ETH Zürich",
	},
	{
		date: "2011 - 2013",
		title: "BSc Mathematics",
		location: "LMU Munich",
	},
	{
		date: "2013 - 2014",
		title: "MSc Theoretical and Mathematical Physics",
		location: "LMU Munich",
	},
	{
		date: "2014 - 2015",
		title: "MASt Mathematics",
		location: "University of Cambridge",
	},
	{
		date: "2015 - 2019",
		title: "PhD Mathematics",
		location: "IST Austria",
	},
	{
		date: "2019 - 2022",
		title: "Junior Fellow",
		location: "ETH Institute for Theoretical Studies",
	},
	{
		date: "since 2022",
		title: "SNF Ambizione Fellow",
		location: "ETH Zurich",
	},
];

import biblio from "@/assets/publications.json";

import Publication from "@/components/Publication";
import { attachCookiesToResponse } from "node_modules/astro/dist/core/cookies";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Bio</h1>
		<p class="mb-4">
			After obtaining my PhD in 2019 under the supervision of László Erdős at the Institute of
			Science and Technology Austria, I have been a junior fellow at the ETH Institute for
			Theoretical Studies since September 2019. My research interests are probability theory and
			mathematical physics with a focus on random matrices. I am also interested in universal
			properties of complex systems and the mathematically rigorous study of machine learning
			algorithms.
		</p>
		<SocialList />
	</section>
	<section aria-label="Curriculum Vitae" class="mt-16">
		<h2 class="title mb-4 text-xl">Curriculum Vitae</h2>
		<ol class="relative border-s border-gray-200 dark:border-gray-700">
			{
				cv.map(({ date, title, location }) => (
					<li class="mb-4 ms-4">
						<div class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700" />
						<time class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500">
							{date}
						</time>
						<h3 class="text-base font-semibold text-gray-900 dark:text-white">{title}</h3>
						<p class="mb-2 text-sm font-normal text-gray-500 dark:text-gray-400">{location}</p>
					</li>
				))
			}
		</ol>
		<a class="inline-block flex items-center p-1 sm:hover:text-link" href="/cv.pdf" target="_blank">
			<Icon class="h-5 w-5" name="mdi:download" aria-hidden="true" focusable="false" />
			<span class="ml-2">CV.pdf</span>
		</a>
	</section>
	<section aria-label="Selected Publications" class="mt-16">
		<h2 class="title mb-4 text-xl">Selected Publications</h2>
		<ol class="list-outside space-y-4">
			{
				biblio
					.filter((p) => selectedPublications.includes(p.id))
					.map((publication) => (
						<li class="p-2">
							<Publication publication={publication} />
						</li>
					))
			}
		</ol>
		<a href="/research" class="cactus-link mb-8 mt-3 inline-block">All publications</a>
	</section>

	<section>
		<h2 class="title mb-4 text-2xl">Selected Research</h2>
		{
			selectedResearch.map((post, i) => (
				<ProjectHero data={post.data} slug={post.slug} position={i % 2 == 0 ? "right" : "left"} />
			))
		}
	</section>

	<section>
		<h2 class="title mb-4 text-2xl">Selected Projects</h2>
		{
			selectedProjects.map((post, i) => (
				<ProjectHero data={post.data} slug={post.slug} position={i % 2 == 0 ? "right" : "left"} />
			))
		}
	</section>
</PageLayout>
