---
import Icon from "astro-icon";

const { url, filename, class: classList = "", embedMode = undefined } = Astro.props;
---

<div
	id="adobe"
	data-url={url}
	data-filename={filename}
	data-id={import.meta.env.DEV
		? "d491edda673641f7ad315010422303dd"
		: "68cce88a30544f5fbca4b1c4ef33e537"}
	data-embed={embedMode}
	class="hidden"
>
</div>
<div id="adobe-dc-view" class:list={[classList, "mb-2"]}></div>
<a href={url} class="cactus-link" target="_blank" rel="noopener noreferrer">
	<div class="flex items-center">
		<Icon class="h-6 w-6" name="mdi:download" aria-hidden="true" focusable="false" />
		{filename}
	</div>
</a>
<script type="module" src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
<script type="module">
	const data = document.getElementById("adobe").dataset;
	var viewerConfig =
		data.embed === undefined
			? {}
			: {
					embedMode: data.embed,
			  };
	document.addEventListener("adobe_dc_view_sdk.ready", function () {
		var adobeDCView = new AdobeDC.View({
			clientId: data.id,
			divId: "adobe-dc-view",
		});
		adobeDCView.previewFile(
			{
				content: {
					location: {
						url: data.url,
					},
				},
				metaData: {
					fileName: data.filename,
				},
			},
			viewerConfig,
		);
	});
</script>
