---
import { Image } from "astro:assets";
import Icon from "astro-icon";

const { data, position, slug } = Astro.props;
console.log(data);
---

<div
	class={`group-hover:z-100 relative flex flex-wrap ${
		position === "left" ? "flex-row-reverse" : ""
	}`}
>
	<a href={`/posts/${slug}`} class="group relative">
		<Image
			src={data.heroImage.src}
			alt={data.heroImage.alt}
			loading="eager"
			fetchpriority="auto"
			class="m-4 h-[24rem] w-auto transform rounded object-cover drop-shadow-xl transition-transform duration-500 ease-in-out group-hover:scale-110"
		/>
	</a>
	<div
		class={`absolute ${
			position === "left" ? "left-0 text-left" : "right-0 text-right"
		} top-0 w-1/2 p-8`}
	>
		<a href={`/posts/${slug}`} class="text-l font-bold text-accent hover:text-link">{data.title}</a>
		<p class="text-s my-4 rounded bg-white p-4 text-gray-600 shadow-lg">{data.description}</p>
		<p>
			{
				data.tags
					.filter((k) => k !== "projects")
					.map((k) => (
						<span class="mb-2 mr-2 inline-block px-1 text-xs font-semibold text-accent dark:text-gray-200">
							{k}
						</span>
					))
			}
			<p>
				{
					data.links.map(({ href, icon, label }) => (
						<a class="inline-block p-1 sm:hover:text-link" href={href} target="_blank">
							<Icon class="h-6 w-6" name={icon} aria-hidden="true" focusable="false" />
							<span class="sr-only">{label}</span>
						</a>
					))
				}
			</p>
		</p>
	</div>
</div>
