---
const { publication } = Astro.props;
---

<h2 class="text-lg font-bold">{publication.title}</h2>
<p class="text-sm text-gray-500">
	{publication.author.map((author) => `${author.given} ${author.family}`).join(", ")}
</p>
<a
	href={publication.URL}
	target="_blank"
	rel="noopener noreferrer"
	class="text-blue-500 hover:underline"
>
	{"container-title" in publication ? publication["container-title"] : "Preprint"}
</a>
<span class="text-sm text-gray-500">
	{"volume" in publication && <span>Vol. {publication.volume}</span>}
	{"date-parts" in publication.issued && "(" + publication.issued["date-parts"][0][0] + ")"}
	{"issue" in publication && <span>| Issue {publication.issue}</span>}
	{"page" in publication && <span>| {publication.page}</span>}
</span>
<p>
	<a href={`https://arxiv.org/abs/${publication.id}`} class="text-accent hover:underline">
		arXiv:{publication.id}
	</a>
</p>
