---
const { volume, year, issue, journal, page, authors } = Astro.props;
var journalInfo = [];
if (volume) journalInfo.push(`Vol. ${volume}`);
if (year) journalInfo.push(`(${year})`);
if (issue) journalInfo.push(`| Issue ${issue}`);
if (page) journalInfo.push(` ${page}`);
---

{authors && <p class:list={["text-xs italic"]}>{authors.join(", ")}</p>}
<p class={"mb-1 text-xs"}>
	<span class="mr-2 font-bold">{journal}</span>
	{journalInfo.length > 0 && <span class="text-accent"> {journalInfo.join(" ")}</span>}
</p>
