---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";
import PublicationDetails from "../PublicationDetails.astro";

interface Props {
	content: CollectionEntry<"posts">;
}

const {
	collection = "posts",
	content: { data },
} = Astro.props;
---

{
	data.coverImage && (
		<div class="aspect-h-9 aspect-w-16 mb-6">
			<Image
				src={data.coverImage.src}
				alt={data.coverImage.alt}
				class="object-cover"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
	)
}
<h1 class="title mb-3 sm:mb-1">{data.title}</h1>
{data.tags.includes("research") && <PublicationDetails publication={data} />}
{!!data.tags?.length && <Tags tags={data.tags} collection={collection} />}
