---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
import Tags from "./Tags.astro";

interface Props {
	content: CollectionEntry<"post">;
}

const {
	content: { data, render },
} = Astro.props;

const { remarkPluginFrontmatter } = await render();

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

{
	data.coverImage && (
		<div class="aspect-h-9 aspect-w-16 mb-6">
			<Image
				src={data.coverImage.src}
				alt={data.coverImage.alt}
				class="object-cover"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
	)
}
<h1 class="title mb-3 sm:mb-1">{data.title}</h1>
<div class="flex flex-wrap items-center gap-x-3 gap-y-2">
	{
		data.updatedDate && (
			<span class="rounded-lg bg-quote/10 p-1 text-quote">
				Last Updated:
				<FormattedDate class="ms-1" date={data.updatedDate} dateTimeOptions={dateTimeOptions} />
			</span>
		)
	}
</div>
{!!data.tags?.length && <Tags tags={data.tags} />}
