---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import Tags from "@/components/blog/Tags";
import { Image } from "astro:assets";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"posts">;
	withDesc?: boolean;
	withTags?: boolean;
};

const {
	post,
	withDesc = true,
	withTags = true,
	large = true,
	right = true,
	number = undefined,
	withAuthor = true,
	withJournalDetails = true,
	titleClass = "text-xl font-bold",
} = Astro.props;

const imgClass =
	"rounded-lg sm:shadow-lg my-2 sm:my_0 h-auto w-full object-cover transform transition-transform duration-500 ease-in-out group-hover:scale-105 group";

const imgCols = right
	? large
		? "sm:col-span-7 sm:col-start-1"
		: "sm:col-span-5 sm:col-start-1"
	: large
	  ? "sm:col-span-7 sm:col-start-6"
	  : "sm:col-span-5 sm:col-start-8";
const titleCols = post.data.heroImage
	? right
		? "sm:text-right sm:ml-2 " +
		  (large ? "sm:col-span-5 sm:col-start-8" : "sm:col-span-7 sm:col-start-6")
		: "sm:text-left sm:mr-2 " +
		  (large ? "sm:col-span-5 sm:col-start-1" : "sm:col-span-7 sm:col-start-1")
	: "sm:text-left sm:col-span-full";
const descCols = post.data.heroImage
	? right
		? "sm:text-right sm:ml-2 " +
		  (large ? "sm:col-span-8 sm:col-start-5" : "sm:col-span-10 sm:col-start-3")
		: "sm:text-left sm:mr-2 " +
		  (large ? "sm:col-span-8 sm:col-start-1" : "sm:col-span-10 sm:col-start-1")
	: "sm:text-left sm:col-span-full";
---

<div class="grid w-full grid-cols-12 grid-rows-[auto_auto_auto_1fr]">
	{
		post.data.heroImage && (
			<div
				class:list={["col-span-12 row-span-1 row-start-2 sm:row-span-4 sm:row-start-1", imgCols]}
			>
				<div class:list={["group relative hover:z-30 sm:z-10"]}>
					<a href={`${import.meta.env.BASE_URL}/${post.collection}/${post.slug}`} class="group">
						<Image
							src={post.data.heroImage.src}
							alt={post.data.heroImage.alt}
							loading="eager"
							width={600}
							densities={[1, 2, 3]}
							fetchpriority="high"
							class:list={[imgClass]}
						/>
						{post.data.heroImageHover && (
							<Image
								src={post.data.heroImageHover.src}
								alt={post.data.heroImageHover.alt}
								loading="eager"
								width={600}
								densities={[1, 2, 3]}
								fetchpriority="auto"
								class:list={[
									imgClass,
									"absolute inset-0 hidden transform transition-opacity transition-transform delay-500 duration-500 ease-in-out group-hover:block",
								]}
							/>
						)}
					</a>
				</div>
			</div>
		)
	}
	<div class:list={["col-span-full row-span-1 row-start-1 text-right", titleCols]}>
		<h2 class={titleClass}>
			{number !== undefined ? `${number}. ` : ""}
			<a
				class:list={["text-accent", titleClass]}
				href={`${import.meta.env.BASE_URL}/${post.collection}/${post.slug}`}
			>
				{post.data.title}
			</a>
		</h2>{
			withAuthor && post.data.authors && (
				<p class:list={["text-xs italic"]}>{post.data.authors.join(", ")}</p>
			)
		}
		{
			post.data.journal && (
				<p class={"mb-1 text-xs"}>
					<span class="font-bold">{post.data.journal}</span>
					{"volume" in post.data && withJournalDetails && <span>Vol. {post.data.volume}</span>}
					{"year" in post.data && withJournalDetails && `(${post.data.year})`}
					{"issue" in post.data && withJournalDetails && <span>| Issue {post.data.issue}</span>}
					{"page" in post.data && withJournalDetails && <span>| {post.data.page}</span>}
				</p>
			)
		}
	</div>
	{
		withDesc && (
			<blockquote
				class:list={[
					"bg-bgColorAlt z-20 col-span-full row-start-3 my-1 p-2",
					descCols,
					post.data.heroImage ? "rounded-xl sm:shadow-lg" : "border-l-4 border-accent",
				]}
			>
				<p class="font-medium text-gray-700 dark:text-gray-200">{post.data.description}</p>
			</blockquote>
		)
	}
	<div class:list={["col-span-full row-start-4", titleCols]}>
		{
			!!post.data.tags?.length && withTags && (
				<Tags tags={post.data.tags} collection={post.collection} />
			)
		}
	</div>
</div>
