---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import Tags from "@/components/blog/Tags";
import { Image } from "astro:assets";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
	withTags?: boolean;
};

const {
	post,
	withDesc = true,
	withTags = true,
	large = true,
	right = true,
	number = undefined,
	withAuthor = true,
	withJournalDetails = true,
	titleClass = "text-xl font-bold",
} = Astro.props;

const imgClass =
	"rounded-lg shadow-xl m-0 h-auto w-full object-cover transform transition-transform duration-500 ease-in-out group-hover:scale-105 group";

const imgCols = right
	? large
		? "sm:col-span-7 sm:col-start-1"
		: "sm:col-span-5 sm:col-start-1"
	: large
	  ? "sm:col-span-7 sm:col-start-6"
	  : "sm:col-span-5 sm:col-start-8";
const titleCols = right
	? "sm:text-right sm:ml-2 " +
	  (large ? "sm:col-span-5 sm:col-start-8" : "sm:col-span-7 sm:col-start-6")
	: "sm:text-left sm:mr-2 " +
	  (large ? "sm:col-span-5 sm:col-start-1" : "sm:col-span-7 sm:col-start-1");
const descCols = right
	? "sm:text-right sm:ml-2 " +
	  (large ? "sm:col-span-8 sm:col-start-5" : "sm:col-span-10 sm:col-start-3")
	: "sm:text-left sm:mr-2 " +
	  (large ? "sm:col-span-8 sm:col-start-1" : "sm:col-span-10 sm:col-start-1");
---

<div class="grid w-full grid-cols-12 grid-rows-[auto_auto_auto_1fr]">
	{
		post.data.heroImage && (
			<div
				class:list={["col-span-12 row-span-1 row-start-2 sm:row-span-4 sm:row-start-1", imgCols]}
			>
				<div class:list={["group relative hover:z-30 sm:z-10"]}>
					<a href={`${import.meta.env.BASE_URL}/posts/${post.slug}`} class="group">
						<Image
							src={post.data.heroImage.src}
							alt={post.data.heroImage.alt}
							loading="eager"
							fetchpriority="high"
							class:list={[imgClass]}
						/>
						{post.data.heroImageHover && (
							<Image
								src={post.data.heroImageHover.src}
								alt={post.data.heroImageHover.alt}
								loading="eager"
								fetchpriority="auto"
								class:list={[
									imgClass,
									"absolute inset-0 hidden transform transition-opacity transition-transform delay-500 duration-500 ease-in-out group-hover:block",
								]}
							/>
						)}
					</a>
				</div>
			</div>
		)
	}
	<div class:list={["col-span-full row-span-1 row-start-1 text-right", titleCols]}>
		<p class={titleClass}>
			{number !== undefined ? `${number + 1}. ` : ""}
			<a
				class:list={["text-accent", titleClass]}
				href={`${import.meta.env.BASE_URL}/posts/${post.slug}`}
			>
				{post.data.title}
			</a>
		</p>{
			withAuthor && post.data.authors && (
				<p class:list={["text-xs italic"]}>{post.data.authors.join(", ")}</p>
			)
		}
		{
			post.data.journal && (
				<p class={"mb-1 text-xs"}>
					<span class="font-bold">{post.data.journal}</span>
					{"volume" in post.data && withJournalDetails && <span>Vol. {post.data.volume}</span>}
					{"year" in post.data && withJournalDetails && `(${post.data.year})`}
					{"issue" in post.data && withJournalDetails && <span>| Issue {post.data.issue}</span>}
					{"page" in post.data && withJournalDetails && <span>| {post.data.page}</span>}
				</p>
			)
		}
	</div>
	{
		withDesc && (
			<div
				class:list={[
					"z-20 col-span-full row-start-3 my-1 rounded-xl p-2 sm:bg-white sm:shadow-lg",
					descCols,
				]}
			>
				{post.data.description}
			</div>
		)
	}
	<div class:list={["col-span-full row-start-4", titleCols]}>
		{!!post.data.tags?.length && withTags && <Tags tags={post.data.tags} />}
	</div>
</div>
