---
import { getCollection } from "astro:content";
import FancyPostPreview from "./FancyPostPreview.astro";
import type { CollectionEntry } from "astro:content";
import PublicationDetails from "../PublicationDetails.astro";
import Tags from "./Tags.astro";
import { Icon } from "astro-icon/components";

interface Props {
	numbered?: boolean;
	large?: boolean;
	filter?: (post: CollectionEntry<"research">) => boolean;
	reversable?: boolean;
}

const { numbered = false, large = false, filter = () => true, reversable = false } = Astro.props;

const allPosts = ((await getCollection("research", filter)) as CollectionEntry<"research">[]).sort(
	(a, b) => -b.data.publishDate.getTime() + a.data.publishDate.getTime(),
);

var isRight = [] as boolean[];

for (let post of allPosts) {
	isRight.push(
		post.data.heroImage ? !isRight[isRight.length - 1] : isRight[isRight.length - 1] || false,
	);
}
---

{
	reversable && (
		<label class="cursor-pointer">
			<input type="checkbox" id="reverse" class="hidden" />
			<div class="relative">
				<Icon
					name="mdi:chevron-down"
					class="absolute -top-8 right-0 rotate-180 transform transition-transform duration-300"
					id="arrow-icon"
				/>
			</div>
		</label>
	)
}
<ol class="not-prose flex flex-col-reverse gap-8" id="research-list">
	{
		allPosts.map((post, i) => (
			<li class="flex flex-auto flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
				<FancyPostPreview
					right={isRight[i]}
					{...(post.data.heroImageHover
						? { heroImage: post.data.heroImageHover }
						: post.data.heroImage
							? { heroImage: post.data.heroImage }
							: {})}
					large={large}
					url={`${import.meta.env.BASE_URL}/research/${post.slug}`}
				>
					<div slot="title">
						<h2 class="mb-1 text-xl font-bold">
							{numbered && `${i + 1}. `}
							<a href={`${import.meta.env.BASE_URL}/research/${post.slug}`} class="text-accent">
								{post.data.title}
							</a>
						</h2>
						<PublicationDetails {...post.data} />
					</div>
					<p class="text-md" slot="description">
						{post.data.description}
					</p>
					<Tags tags={post.data.tags} slot="tags" />
				</FancyPostPreview>
			</li>
		))
	}
</ol>

<script is:inline>
	const reverseButtonListener = () => {
		const button = document.querySelector("#reverse");
		const list = document.querySelector("#research-list");
		const arrowIcon = document.querySelector("#arrow-icon");

		button.addEventListener("change", () => {
			list.classList.toggle("flex-col-reverse");
			list.classList.toggle("flex-col");
			arrowIcon.classList.toggle("rotate-180");
		});
	};

	["DOMContentLoaded", "astro:after-swap"].forEach((event) => {
		document.addEventListener(event, reverseButtonListener);
	});
</script>
